---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import '@fontsource/inter';
import BaseHead from '../../components/BaseHead.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<BaseLayout>
			<p class="prose text-neutral-200 leading-snug font-light">
				Hi! I’m a student at <a class="special" href="https://www.cornell.edu/">Cornell University</a>, studying <a class="special" href="https://www.cs.cornell.edu/">Computer Science</a>, with minors in <a class="special" href="https://infosci.cornell.edu/node/946">UX</a> (Information Science) and East Asian Studies. I specialize in frontend engineering, design, and management.
				<br /><br />
				I co-lead development on our campus’ largest software engineering team, <a class="special" href="https://www.cornelldti.org/">Cornell DTI</a>. During my time at <a class="special" href="https://www.instapathbio.com/">Instapath</a> (YC W19), I designed and build their entire landing page and scan analysis platform. At <a href="https://yoomi.health/" class="special">Yoomi Health</a>, I created AR product experiences that were demoed to <a href="https://youtu.be/fa9-T6Fie4U?t=300" class="special">Mark Cuban</a> for seed funding. I’m a <a href="https://neo.com/" class="special">Neo Scholar Finalist</a>, and have co-paneled talks with <a href="https://bobatalks.com/" class="special">BobaTalks</a> and Cornell APAA.
				<br /><br />
				I’m interested in the future of the web - designing and implementing human-centric, intersectional products in elegant, functional ways. You can gain more insight into my background and interests through my work and writings.
			</p>
			<div class="fixed flex flex-col w-full left-0 my-8  gap-2">
				<a class="!text-neutral-600 hover:bg-neutral-700 hover:!text-neutral-400 py-4 px-12 hover:pl-14 transition-all" href="/blog">
					Thoughts  ❯
				</a>
				<a class="!text-neutral-600 hover:bg-neutral-700 hover:!text-neutral-400 py-4 px-12 hover:pl-14 transition-all" href="/portfolio">
					Portfolio  ❯
				</a>
			</div>
		</BaseLayout>
	</body>
</html>