@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
    --color-white: #f9fbf2;
    --color-black: #262626;
    --color-accent: #5eb07f;
}

@layer base {
    html {
        background-color: var(--color-black);
        color: var(--color-white);
        font-family: "Inter", sans-serif;
        font-size: 16px;
        font-weight: 400;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    a {
        color: var(--color-white);
        text-decoration: underline;
        text-decoration-thickness: 0.2px;
        text-underline-offset: 0.4rem;
        transition: all 0.4s ease-in-out;
    }

    a:visited {
        color: var(--color-white);
    }

    a:hover {
        text-decoration-color: var(--color-accent);
    }
}

#slide-in-header .letter {
    display: inline-block;
    line-height: 1em;
}

a.special {
    color: var(--color-white);
    font-weight: normal;
    text-decoration: none;
    text-decoration: underline;
    text-decoration-thickness: 0.2px;
    text-underline-offset: 0.2rem;
    transition: all 0.4s ease-in-out;
    text-decoration-color: var(--color-accent);
}
