---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import '@fontsource/inter';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<BaseLayout>
			<div class="flex flex-col h-full w-full justify-between align-baseline">
				<div class="w-full md:-ml-2">
					<img id="logo" src="/logo.png" alt="Logo" class="w-full" />
				</div>
				<h2 id="slide-in-header" class="md:text-6xl md:-mt-6">
					Developer, Designer.
				</h2>
			</div>
		</BaseLayout>
		<div class="absolute bottom-48 left-12">
			<p id="short-descr" class="font-normal text-stone-400">
				I build intersectional, visual web experiences.
				<br />
				Product Engineering @ <a class="underline underline-offset-4 decoration-1" href="https://www.instapathbio.com/">Instapath</a> (YC W19).
				<br />
				Co-Development Lead @ <a class="underline underline-offset-4 decoration-1" href="https://www.cornelldti.org/">Cornell DTI</a>.
				<br />
				Studying CS, UX @ Cornell University.
			</p>
		</div>
	</body>
</html>

<script>
	import anime from 'animejs/lib/anime.es.js';

	var textWrapper = document.querySelector('#slide-in-header');
	if (textWrapper) {
		textWrapper.innerHTML = textWrapper.textContent!.replace(/\S/g, "<span class='letter'>$&</span>");
	}

	anime.timeline({loop: false})
		.add({
			targets: '#slide-in-header .letter',
			translateY: [-48,0],
			opacity: [0, 1], // Added this line
			easing: "easeOutExpo",
			duration: 1400,
			delay: (el, i) => 30 * i
		})

	anime.timeline({loop: false})
		.add({
			targets: '#logo',
			translateX: [-48,0],
			opacity: [0, 1], // Added this line
			easing: "easeOutExpo",
			duration: 1400,
			delay: (el, i) => 30 * i
		})

	anime.timeline({loop: false})
		.add({
			targets: '#short-descr',
			translateX: [-48,0],
			opacity: [0, 1], // Added this line
			easing: "easeOutExpo",
			duration: 1400,
			delay: (el, i) => 30 * i
		})
</script>