---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a href={href} class:list={[className, { active: isActive }]}  {...props}>
	<slot />
</a>
<style>
	a {
		display: inline-block;
		text-decoration: none;
		font-weight: 300;
		letter-spacing: 0.2px;
		height: fit-content;
	}
	a.active {
		font-weight: 600;
		text-decoration: underline;
		text-decoration-thickness: 0.2px;
		text-underline-offset: 0.4rem;
	}
</style>
